@charset "UTF-8";
/*------------------------------------*\
    $TABLE OF CONTENTS 
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VENDOR FILES...........................Bourbon
 * VARIABLES..............................Declarations of Sass variables 
 * .....Fonts
 * .....Colors
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * GLOBAL.................................Sass mixins 
 */
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* COLORS */
* {
  font-family: "Lato", sans-serif;
  font-weight: normal; }

body {
  background: rgba(102, 102, 102, 0.3); }

h1, h2, h3, h4, h5 {
  font-family: "Comfortaa", cursive; }

h1 {
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff 0%, #fff 50%, #fff 95%, #7CEBEB 100%);
  background-image: linear-gradient(#fff 0%, #fff 50%, #fff 95%, #7CEBEB 100%);
  padding-bottom: 5px;
  width: 50%;
  font-size: 2.5em;
  line-height: 0.85;
  font-weight: normal;
  letter-spacing: -0.5px;
  margin-bottom: 0; }

h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.4);
  width: 50%; }

h3 {
  margin: 0.6em 0 0;
  font-size: 1.1em; }
  h3:before {
    content: "\25CF";
    display: inline-block;
    background: #fff;
    font-size: 24px;
    line-height: 0;
    margin: 0 17px 0 -35px;
    color: #7CEBEB;
    border: 1px solid #666;
    border-radius: 50%;
    padding: 7px 1px 10px 1px; }

p {
  font-size: 1em;
  font-weight: 300;
  margin: 0.5em 0;
  color: #231f20; }

.dot {
  color: #7CEBEB;
  padding: 0 0.5em; }

header p {
  font-size: 1.1em;
  margin: 5px 0; }

h1 + p {
  font-size: 1.3em; }

.container {
  max-width: 72em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 1px #666;
  background: white;
  padding: 1em 4em; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  .container h2 {
    margin-bottom: 0;
    margin-left: 1.5em; }
  .container .main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    padding-right: 5em; }
    .container .main:last-child {
      margin-right: 0; }
    .container .main section {
      border-left: 1px solid #666;
      padding-left: 1.5em; }
    .container .main article {
      margin-bottom: 2em; }
    .container .main .subhead {
      margin-top: 0;
      margin-bottom: 0.5em;
      font-size: 1.1em;
      line-height: 1.4; }
    .container .main .regular {
      font-size: 1.0em;
      line-height: 1.2; }
  .container .secondary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .container .secondary:last-child {
      margin-right: 0; }
    .container .secondary h2 {
      font-size: 1.1em; }
    .container .secondary p, .container .secondary ul li {
      font-size: 0.9em; }
    .container .secondary ul {
      list-style: none; }
      .container .secondary ul li {
        text-indent: -1em; }
        .container .secondary ul li:before {
          content: "•";
          color: #7CEBEB;
          margin-right: 1em; }
  .container .em {
    font-style: italic;
    font-weight: 300; }

/*# sourceMappingURL=style.css.map */
